@model UCP1.Models.Aplikasi

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Aplikasi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAplikasi" />
            <div class="form-group">
                <label asp-for="AdventureGenre" class="control-label"></label>
                <input asp-for="AdventureGenre" class="form-control" />
                <span asp-validation-for="AdventureGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionGenre" class="control-label"></label>
                <input asp-for="ActionGenre" class="form-control" />
                <span asp-validation-for="ActionGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FantasyGenre" class="control-label"></label>
                <input asp-for="FantasyGenre" class="form-control" />
                <span asp-validation-for="FantasyGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
